<!DOCTYPE html>
<html>
    <head>
    	<title>GmailApp</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="asset/style.css"/>
		<link rel="stylesheet" href="asset/mobile_version.css"/>

        <script src="lib/jquery-1.9.0.js"></script>        
		<script src="lib/angular.js"></script>
		<script src="lib/angular-sanitize.js"></script>
		<script src="lib/modal.js"></script>

		<script src="boot.js"></script>
        <script src="app.js"></script>

        <script src="script/elements.js"></script>
        <script src="script/controller.js"></script>
        <script src="script/plugins.js"></script>
        <script src="script/helper.js"></script>
    </head>
    <body ng-app="MailApp">
        <div id="wrapper" class="loading full" ng-controller="Controller">        

            <div id=side ng-click="toggleMenu()">
            	<div id="profile">
            		<img class="profile-img" src="asset/img/user.png"/>
            		<div class="profile-cre">
            			<span class="profile-name">NONAME</span>
            			<span ng-click="logout()" id="logout">Logout</span>
            		</div>
            	</div>
                <center class=mbtn>
                	<button g-mail class="btn full" data-email="NONONE">Inbox</button>                	
                </center>
                <ul class=menus>					
					<li ng-repeat="l in labels" class="item {{l.active}}" data-name="{{l.name}}" ng-click="load()">{{l.title}}</li>                    
                </ul>				
            </div>
            <div id=mailinglist>
                <div class=list>
                    <h2 class=list-header ng-click="toggleMenu()">{{title}}</h2>
					<button g-mail class="btn" ng-click="reply()">Reply</button>
					<div class="list-pagination">
						<div class="list-nav list-prev disabled" ng-click="prev()">older</div>
						<div class="list-nav list-next disabled" ng-click="next()">newer</div>
					</div>
                    <div class=tbl>
						<div ng-repeat="thread in threads" ng-click="view(this)" class="tr lmail-item {{thread.clss}}" id="{{thread.randID}}">
							<div class="td lmail-starred"><span>★</span></div>
							<div class="td lmail-important"><span>!</span></div>
							<div class="lmail-from">{{thread.from}}</div>
							<div class="tbl-thread">{{thread.subject}}</div>
							<div class="lmail-snippet">{{thread.snippet}}</div>
						</div>
					</div>                    
                </div>
                <div class=view ng-bind-html="viewer"></div>			
            </div>
            <div id=authorize class=none>
                <p class="authorize-desc">Authorize access to Gmail API</p>      
                <button id="authorize-button" class="btn">
                    Authorize
                </button>
            </div>
            <div class="composebox none">
            	<div g-compose ng-repeat="c in composeForms" id="{{c.id}}" class="composearea"></div>			
			</div>
        </div>
        <div class="initLoading">
            <div class="initLoading progressbar"></div>
        </div>
    </body>
</html>