<div class="compose-header">         
	<h3 class="compose-title">Compose</h3>         
	<div class="compose-btns">             
		<div class="compose-btn compose-btn-minimize none">minimize</div>             
		<div class="compose-btn compose-btn-fullfilled none">fullscreen</div> 
		<div class="compose-btn compose-btn-close">×</div>         
	</div>     
</div>     
<div class="compose-body">         
	<form id="{{c.formID}}" class="compose-form">             
		<input class="compose-inp" name="to" placeholder="To" />
		<input class="compose-inp" name="subject" placeholder="Subject" />
		<textarea class="compose-editor" name="content"></textarea>             
		<div class="compose-action">                 
			<button class="compose-send btn">Send</button>             
		</div>         
	</form>     
</div>